*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(228, 219, 219);
    font-family: Arial, Helvetica, sans-serif;

 }

 #container{
    width: 80%;
    margin: 100% auto;
    border: 1px solid rgb(236, 230, 230);

 }

 header{
   background-color: black ;
   height: 100px;
    width: 100%;
    margin:0px;
    text-align: center;
    line-height: 100px;
    color: white

}

nav{
    background:hwb(60 0% 0%);
    height: 120px;
}

 nav ul li{
    float: left;
    list-style: none;
    margin: 30px;
    line-height: 20px;
    text-align: center;
 }

 .clearfix{
    clear: both;
 }

 #content{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background-color: rgb(10, 9, 9);
    color: #ffffff;
    padding: 40px;
    margin-bottom: 4px; 
 }

.article{
    color:azure;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;

 }
 
 .article:first-child¨{
    border-top: 1 px solid #eee;
 }

 .article h2{
    font-size: 25px;

 }
 aside{
    float: left;
    width: calc(20% - 20px);
    background:hwb(60 0% 0%);
    min-height: 800px;
    color: rgb(30, 28, 28);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
 }

 footer{
    background:hwb(60 0% 0%);
    color: black;
    text-align:center;
    height: 100 px;
    line-height: 100px;
    margin-bottom: 4px;
 }